#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

#login-form input {
  height: 48px;
  width: 75%;
  border-radius: 3px;
  padding: 0px 24px;
}

#login-form input:not(last-of-type) {
  margin-bottom: 48px;
}

.submit {
  width: 60%;
  padding: 16px 24px;
  background-color: #FFF;
  border-radius: 5px;
  font-size: 18px;
  color: #F07b7b;
  font-weight: 700;
  box-shadow: -5px 6px 6px rgba(0, 0, 0, .15);
}

#error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #D8000C;
}